#header{
    position: relative;
    padding: 5% 0 3% 0;
    color: #FFF;
    background-image: image-url('portland-or-skyline-dusk.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    @include respond(landscape){
	background: image-url('portland-or-skyline-dusk-landscape.png') 0 50% no-repeat;
    }
    @include respond(portrait){
	padding: 10% 0;
	background-image: image-url('portland-or-skyline-dusk-portrait.png') 0 50% no-repeat;
    }
    @include respond(mobile){
	padding: 15% 0;
	background: image-url('portland-or-skyline-dusk-mobile.png') 0 50% no-repeat;
    }
    .bg{
	background: rgba(#000, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
    }
    .inner{
	position: relative;
	z-index: 50;
    }
    .logo{
	@extend %webfont;
	font-size: 6.40em;
	text-align: center;
	color: $Dgreen;
	@extend %text-shadow;
	@include respond(landscape){
	    font-size: 5.25em;
	}
	@include respond(portrait){
	    font-size: 5.5em;
	}
	@include respond(mobile){
	    font-size: 3.5em;
	}
    }
    .aisc{
	display: block;
	margin: 5% auto 0 auto;
	width: 65%;
	text-align: center;
	text-decoration: none;
	@include respond(landscape){
	    width: 75%;
	}
	@include respond(mobile){
	    width: 90%;
	}
	img{
	    width: 100%;
	    height: auto;
	}
    }
    .contact{
	text-align: center;
	margin-top: 5%;
	font-size: 20px;
	color: $Lgray;
	line-height: 1.5em;
    }
    .address{
	display: block;
	text-decoration: none;
	color: #FFF;
	background: rgba($Dblue, 0.5);
	padding: 5px;
	text-align: center;
	@extend %text-shadow;
    }
    .phone{
	margin-top: 1%;
	a{
	    text-decoration: none;
	    color: $Lgray;
	    @extend %text-shadow;
	    @extend %transition;
	    @include respond(mobile){
		display: block;
		padding: 5px;
		background: $Dgreen;
		margin-bottom: 5px;
		&:hover{
		    background: $Dgray;
		}
	    }
	}//a
    }//.phone
}//#header